body {
    max-height: 350px;
    max-width: 350px;
    background: #080f1a;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glass {
    height: 495px; /* 330px * 1.5 */
    width: 315px; /* 210px * 1.5 */
    background: #122139;
    border-radius: 270px 270px 0px 0px; /* 180px * 1.5 */
    position: relative;
}

.glass:before {
    content: "";
    height: 36px; /* 24px * 1.5 */
    width: 36px; /* 24px * 1.5 */
    transform-origin: center;
    border: 22.5px solid #122139; /* 15px * 1.5 */
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: -58.5px; /* -39px * 1.5 */
    transform: translateX(-50%);
}

.glass:after {
    content: "";
    position: absolute;
    height: 13.5px; /* 9px * 1.5 */
    width: 315px; /* 210px * 1.5 */
    background: #a52a2a;
    top: 495px; /* 330px * 1.5 */
    left: 50%;
    transform: translateX(-50%);
}

.shine {
    width: 18px; /* 12px * 1.5 */
    height: 207px; /* 138px * 1.5 */
    background: white;
    opacity: 0.2;
    position: absolute;
    left: 80%;
    top: 72px; /* 48px * 1.5 */
    border-radius: 90px; /* 60px * 1.5 */
    z-index: 10;
}

.shine:before {
    content: "";
    width: 18px; /* 12px * 1.5 */
    height: 36px; /* 24px * 1.5 */
    position: absolute;
    background: white;
    top: 225px; /* 150px * 1.5 */
    border-radius: 90px; /* 60px * 1.5 */
}






























